body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #48beff;
    color: white;
    text-align: center;
    padding: 1em 0; 
}

main {
    flex: 1; 
    padding: 1em;
}

.filter-section {
    margin-bottom: 1em; 
    text-align: center;
}

.image-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.image-item {
    flex: 1;
    margin: 1em;
    text-align: center;
    
}

.image-item img {
    width: 215px;
    height: 200px;
}
    
footer {
    background-color: #48beff;
    text-align: center;
    padding: 1em 0;
    margin-top: auto;
}

.filter-image.achromatomaly {
    filter: grayscale(100%);
}

.filter-image.deuteranomaly {
    filter: hue-rotate(180deg);
}

.filter-image.tritanomaly {
    filter: sepia(100%) saturate(300%) hue-rotate(-50deg);
}

.filter-image.Acromatomia {
    filter: grayscale(50%);
}

.filter-image.Deuteranopia {
    filter: grayscale(75%) sepia(100%) hue-rotate(45deg);
}

.filter-image.Protanopia {
    filter: sepia(35%) saturate(100%);
} 

p {
    text-align: center;
}